.button {
  background-color: #4056a1;
  color: white;
}
form {
  display: flex;
  flex-direction: column;
  font-family: "Source Sans Pro";
  font-weight: 600;
}
textarea {
  border: none;
  outline: none;
  border-bottom: 3px solid #545149;
  background-color: #f4f1ec;
  margin-bottom: 20px;
}
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee";
  font-size: medium;
  margin-bottom: 20px;
}
#tweet-text {
  font-weight: 600;
  font-size: medium;
  resize: none;
}
.error {
  font-family: "Source Sans Pro";
  font-weight: SemiBold 600;
  color: #d8000c;
  background-color: #ffbaba;
  background-image: url("https://i.imgur.com/GnyDvKN.png");
  background-repeat: no-repeat;
  border: 1px solid;
  margin: 20px auto 40px 0;
  padding: 15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: none;
}
